	.box{
		display: none;
		padding: 20px;
	}

	.ui-datepicker {
		font-size: 11px;
	}

	.ui-datepicker td:hover {
		background-color: yellow;
	}
	
	button {
		background-color: transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		overflow: hidden;
		outline: none;
		font-size: 12px;
	}

	label {
		font-size: 12px;
	}

	li {
		display: inline-block;	
	}

	[type='radio'] {
		display: none;
	}